/* Universal Styles & Resets */
body {
  margin: 0;
}

button {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

:root {
  --calc-color: hsl(192, 100%, 30%);
  --calc-display: hsl(192, 100%, 10%);
  --black-color: hsl(231, 100%, 3%);
  --orange-color: hsl(29, 100%, 74%);
  --dim-orange-color: hsl(29, 100%, 75%);
  --red-color: hsl(0, 75%, 75%);
  --white-color: hsl(0, 5%, 93%);
  --pale-blue: hsl(199, 92%, 85%);
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  background-color: var(--black-color);
  color: var(--white-color);
  font-family: 'Bitter', serif;
  font-size: 16px;
  text-align: center;
}

/* Calculator Styles */

.calculator {
  align-items: center;
  background-color: var(--calc-color);
  border-radius: 5px;
  display: flex;
  font-size: 1rem;
  height: 408px;
  justify-content: center;
  margin: 3rem auto;
  padding: 0.5rem;
  width: 258px;
}

.calculator__bg {
  background-color: var(--black-color);
  border-radius: 5px;
  display: grid;
  flex: 1;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: calc(408px - 1rem);
}

.calculator__display {
  background-color: var(--calc-display);
  border-radius: 5px;
  border: 1px solid var(--black-color);
  grid-column-end: 5;
  grid-column-start: 1;
  padding-right: 0.5rem;
  padding-top: 1rem;
  text-align: right;
}

.calculator__display__value {
  font-family: "Chakra Petch";
  font-size: 2rem;
  font-weight: 700;
}

button {
  background-color: var(--white-color);
  border: 1px solid var(--black-color);
  border-radius: 5px;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

button:active {
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75) inset;
}

button:disabled {
  background-color: var(--dim-orange-color);
}

.operator__key {
  background-color: var(--orange-color);
}

.span-two {
  grid-column-end: span 2;
}

.active {
  background-color: var(--orange-color);
  color: var(--black-color);
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75) inset;
}

.del__key, .clear__key {
  background-color: var(--red-color);
}

.equals__key {
  background-color: var(--pale-blue);
}

/* Extensive refactor needed */